<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>

        style
            include ../static/style.css

    </head>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Righteous&display=swap" rel="stylesheet">

   

    <body>
        <header class="header">
            <div class="left">
                <img src="static/hacker.png" alt="">
                <div>Smarty</div>
            </div>

            <div class="mid">
                <ul class="navbar">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>

            <div class="right">
                <button class="btn"><a href="tel: 7247860276" target="blank">Call us Now</a></button>
                <button class="btn"><a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox?compose=new" target="blank">E–mail us</a></button>
            </div>
        </header>
        <div class="container">
            <img class="skull" src="static/red.png" alt="">
            <h1>Join our Club!</h1><br>
            <form class="buttons" method="post" action="/about/" id="contact">
                <div class="formgroup">
                    <input type="text" name="name" placeholder="Enter your Full Name">
                    <input type="text" name="age" placeholder="Enter your Age">
                    <input type="text" name="address" placeholder="Enter your Locality">
                    <input type="text" name="number" placeholder="Enter your Phone Number/WhatsApp">
                    <input type="text" name="email" placeholder="Enter your Email">
                </div>
                <button class="btn">Submit</button>
            </form>
        </div>
        <footer>
            <div class="footer">
                <ul class="footbar">
                    <li><a href="#">Customer Service</a></li>
                    <li><a href="#">Phone Numbers</a></li>
                    <li><a href="#">Contact Information</a></li>
                    <li><a href="#">How-to Guides</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Privacy</a></li><br>
                    <h2>© Smarty Corp.</h2>
                </ul>
            </div>
        </footer>
        <script src="jssource.js"></script>
    </body>
</html>